TOKEN=YOUR_TOKEN_FOR_TG_BOT
MQTT_BROKER=DOMAIN_YOUR_MQTT_BROKER
MQTT_PORT=PORT
MQTT_TOPIC_SENSORS=YOUR_TOPIC/+/+/sensors
MQTT_TOPIC_NASOS=f"YOUR_TOPIC/{chat_id}/{sys_id}/control"
DB_FILE=garden_bot.db
ADMIN_ID=YOUR_TG_ID